<p id="notice"><%= notice %></p>
<div id="#content-wrapper">

<h1>Arlington Wines Pappy Scraper</h1>

	<div class="left">
		<p><strong>Is There Pappy?: <%= @item.pappypresent %></strong></p>
	</div>
	<div class="right">
		<p><strong>Order Sent?: <%= @item.ordersent %></strong></p>
	</div>
	<br>
	<br>
	<br>
	<img src="http://oldripvanwinkle.com/wp-content/uploads/2011/10/23ylabel1.jpg">
	<p class="name">by kendrick coleman (<a href="https://twitter.com/KendrickColeman">t: @kendrickcoleman </a>)
</div>
